/* About me section */
.aboutme_text {
    color: darkslategray;
    font-size: smaller;
    line-height: 1.6 !important;
    white-space: pre-line;
}

/* Timeline Section */

.timeline_title{
    font-size: 16px !important;
    font-weight: 500 !important;
}

.timeline_date{
    color: darkslategray !important;
}

.timeline_description{
    color: gray !important;
    font-size: small !important;
    margin-top: 6px !important;
}